In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_excel('E:/firmanSTM/Studi Kasus.xls')

In [7]:
data.tail()

   Kejadian  Cuaca Temperatur Kelembaban Berangin Bermain
9       K10  Cerah      Panas     Tinggi    Tidak   Tidak
10      K11  Cerah      Panas     Tinggi       Ya   Tidak
11      K12  Cerah     Hangat     Tinggi    Tidak   Tidak
12      K13  Cerah     Dingin     Normal    Tidak      Ya
13      K14  Cerah     Hangat     Normal       Ya      Ya

In [8]:
data.shape

(14, 6)

In [9]:
#tahap1#

In [11]:
data["Bermain"].value_counts()

Ya       9
Tidak    5
Name: Bermain, dtype: int64

In [12]:
Bermain_Ya=9/14
Bermain_Tidak =5/14

In [13]:
print(Bermain_Ya)
print(Bermain_Tidak)

0.6428571428571429
0.35714285714285715

In [15]:
pd.crosstab(data["Cuaca"],data ["Bermain"])

Bermain  Tidak  Ya
Cuaca
Berawan      0   4
Cerah        3   2
Hujan        2   3

In [16]:
Cuaca_cerah_ya =2/9
Cuaca_cerah_tidak =3/5

In [ ]:
#tahap2.1#

In [17]:
pd.crosstab(data["Temperatur"],data["Bermain"])

Bermain     Tidak  Ya
Temperatur
Dingin          1   3
Hangat          2   4
Panas           2   2

In [18]:
#tahap2.2#

In [19]:
Temperatur_dingin_ya =3/9
Temperatur_dingin_tidak =1/5

In [20]:
pd.crosstab(data["Kelembaban"],data["Bermain"])

Bermain     Tidak  Ya
Kelembaban
Normal          1   6
Tinggi          4   3

In [21]:
Kelembaban_tinggi_ya =3/9
Kelembaban_tinggi_tidak =4/5

In [22]:
#tahap2.3#

In [23]:
pd.crosstab(data["Berangin"],data["Bermain"])

Bermain   Tidak  Ya
Berangin
Tidak         2   6
Ya            3   3

In [24]:
Berangin_Tidak_ya =6/9
Berangin_Tidak_tidak =2/5

In [31]:
P_Bermain_Ya = Cuaca_cerah_ya * Temperatur_dingin_ya * Kelembaban_tinggi_ya * Berangin_Tidak_ya

In [33]:
print(P_Bermain_Ya)

0.016460905349794237

In [34]:
P_Bermain_Tidak = Cuaca_cerah_tidak * Temperatur_dingin_tidak * Kelembaban_tinggi_tidak * Berangin_Tidak_tidak

In [35]:
print(P_Bermain_Tidak)

0.038400000000000004

In [36]:
#tahap 4#

In [38]:
P_Bermain_Ya_Ya = P_Bermain_Ya* Bermain_Ya
print(P_Bermain_Ya_Ya)

0.010582010582010581

In [39]:
P_Bermain_Tidak_Tidak =P_Bermain_Tidak * Bermain_Tidak
print(P_Bermain_Tidak_Tidak)

0.013714285714285715

In [ ]:
#probalitas tertinggi diperoleh saat bermain = tidak
#sehingga dapat kita simpulkan pada kejadian
#k15 dengan cuaca|cerah,Temperatur|Dingin,Kelembaban|Tinggi,Berangin|Tidak,Maka Bermain|Tidak